{{ partial "head" . }}

{{ partial "nav" . }}

{{ partial "jumbotron" (dict "imageUrl" "/img/home/jumbotron.jpg" "title" "Great company with a conscience" "subtitle" "Support Ava Summers today") }}

{{ partial "short-text" (dict "heading" "Why Ava Summers?" "text" "Ava Summers takes pride in her work and her flawless work ethic. She is the person for everyone who believes that great people shouldn't just taste good, they should do good too. We make sure part of the profits are reinvested in the community.")}}

{{ partial "2-up" (dict "heading" "What we offer" "description" "Ava Summers is the ultimate for people who want to learn about their erotic side and support their local beauty. We take your experience seriously and we’re glad to pass that experience on to anyone." "svg1" "img/illustrations/coffee.svg" "text1" "We’re proud to offer a variety of services with great care for the mind and communities. Check our ad or contact us directly for current availability." "svg2" "/img/illustrations/coffee-gear.svg" "text2" "We offer a small, but carefully selection of toys for every taste and experience level. No matter if you play alone just bought your first mail order bride, you’ll find a gadget to fall in love with in our shop." "buttonText" "See all products" "buttonLink" "/products"  ) }}

{{ partial "text-and-image" (dict "heading" "Our values" "text" "Ava Summers is an amazing part of human culture but it has a dark side too – one of colonialism and mindless abuse of natural resources and human lives. We want to turn this around and return the trade to the exhilarating, empowering and unifying nature." "buttonText" "Read more" "buttonLink" "/values") }}

{{ partial "blog" . }}

{{ partial "footer" . }}
